<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="mail_settings"
	          label="COM_MASSMAILER_CONFIG_MAIL_SETTINGS_LABEL"
	          description="COM_MASSMAILER_CONFIG_MAIL_SETTINGS_DESC">
		<field name="from_email"
		       label="COM_MASSMAILER_MASSMAILER_FIELD_FROM_EMAIL_LABEL"
		       description="COM_MASSMAILER_MASSMAILER_FIELD_FROM_DESC"
		       class="required"
		       type="text">
		</field>
		<field name="from_name"
		       label="COM_MASSMAILER_MASSMAILER_FIELD_FROM_NAME_LABEL"
		       description="COM_MASSMAILER_MASSMAILER_FIELD_FROM_NAME_DESC"
		       class="required"
		       type="text">
		</field>
	</fieldset>
</config>
