<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{subject}</title>
	<style>
body { font: 12px Helvetica, Arial, sans-serif }
#container {
	margin: 0 auto;
	width: 700px;
}
	</style>
</head>

<body>
<div id=container>
	<div id=header><img alt="Darío Echeverri / Alcalde 2012 - 2015" height=128 src="header.jpg" width=700></div>
	<div id=content>{content}</div>
	<div id=footer><img alt="Boletín de prensa" height=109 src="footer.jpg" width=700></div>
</div>
</body>
</html>
